*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: linear-gradient(135deg, #c33764, #1d2671);
  height: 100vh;
}
.container{
  width: 750px;
  background-color: #FFFFFF;
  padding: 25px 30px;
  border-radius: 15px;
  position: relative;
  margin-left: 75vh;
}
.title{
  font-size: 25px;
  font-weight: 500;
  position: relative;
}
.user_info{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
.input{
  margin-bottom: 15px;
  width: 335px;
}
.text_above_fill{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.input input{
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid lightgray;
  border-bottom-width: 2px;
}
.submit{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 350px;
}
.button{
  height: 40px;
  width: 250px;
  margin: 25px 0;
  border-radius: 5px;
  border: none;
  color: #FFFFFF;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  background: #1d2671;
  line-height: 30px;
  margin-left: 50px;
  text-align: center;
}
.button:hover{
  transition: all 0.3s ease;
  background: #c33764;
}

.text {
  position: absolute;
  margin-right: 100vh;
  width: 600px;
  height: 40px;
  top: 50%;
  margin-top: -20px;
  font-size: 50px;
  font-weight: 400;
}
p {
  display: inline-block;
  vertical-align: top;
  margin: 0;
}
.word {
  position: absolute;
  width: 100%;
  opacity: 0;
}
.letter {
  display: inline-block;
  position: relative;
  transform: translateZ(25px);
  transform-origin: 50% 50% 25px;
}
.letter.out {
  transform: rotateX(90deg);
  transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.letter.behind {
  transform: rotateX(-90deg);
}
.letter.in {
  transform: rotateX(0deg);
  transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.wisteria {
  color: #8e44ad;
}
.belize {
  color: #2980b9;
}
.pomegranate {
  color: #c0392b;
}
.green {
  color: #16a085;
}
.midnight {
  color: #2c3e50;
}


.acc a{
  text-decoration: none;
  color: #1d2671;
}
.acc{
  text-align: right;
}

@media (max-width: 1920px) and (min-width: 1400px) {
  .container{
    margin-left: 43%;
  }
  .text{
    margin-right: 51%;
  }
}
@media (max-width: 1400px) and (min-width: 1000px){
  .container{
    position: absolute;
    width: 375px;
    margin-left: 48%;
  }
  .text {
    position: absolute;
    margin-right: 32%;
    font-size: 40px;
  }
}
@media (max-width: 1000px) and (min-width: 770px){
  .container{
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }
  .text {
    display: none;
  }
}
@media (max-width: 770px) and (min-width: 250px){
  .container{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 375px;
  }
  .text {
    display: none;
  }
}