
.icon-login:before { content: '\e801'; } /* '' */
.icon-cog:before { content: '\e802'; } /* '' */
.icon-chart-bar:before { content: '\e803'; } /* '' */
.icon-logout:before { content: '\e804'; } /* '' */
.icon-laptop:before { content: '\f109'; } /* '' */
.icon-google:before { content: '\f1a0'; } /* '' */
.icon-sliders:before { content: '\f1de'; } /* '' */
.icon-address-card:before { content: '\f2bb'; } /* '' */
.icon-user-o:before { content: '\f2c0'; } /* '' */
